@model IEnumerable<Bookshelf.Models.Book>

@{
    ViewBag.Title = "Index";
}

<p class="indexheading">Index</p>

<p class="createlink">
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p> @Html.DisplayNameFor(model => model.PublishedDate) : @Html.DisplayFor(modelItem => item.PublishedDate)</p>
                    <p> @Html.ActionLink("Details", "Details", new { id = item.BookID })</p>

                </div>
            </div>
        </div>

    }
</div>